*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-repeat: no-repeat;
}

.div-Conteiner{
    display: grid;
    border: 0.2rem solid  rgba(0, 0, 0, 0.744);
    grid-template-rows: 0.5fr 0.2fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-template-columns: 1;
}


.header{
    text-align: center;
    background-image: linear-gradient(skyblue, white);
}

.header-nav{
    


    border: 1px solid rgba(255, 255, 255, 0.856);
    position: relative;
}
.header-nav ul{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-nav ul li:hover{
    background-color: aquamarine;
}

.section-div h2{
    display: block;
}

.section-div-div{
    display: flex;
    margin-bottom: 2em;
}

img{
    object-fit: scale-down;
    height: 3rem;
    margin-right:2em  ;
}

