*{
    background-color: aliceblue;
}

header{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}

.imgH{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-size:cover ;

    
}    